@use 'variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: variable.$Font;
    background-color: variable.$VeryDarkBlue;
    color: variable.$PaleBlue;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }