@use 'initial';
@use 'variable';


.main-container{
    width: 328px;
    margin: 77px auto;
    position: relative;
}

.first-section{
}

.main-card{
    &__user{
        background-color: variable.$Blue;
        display: flex;
        border-radius: 16px;
        padding: 30px;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    &__image{
        width: 72px;
        margin-right: 10px;
        border: 3px solid white;
        border-radius: 50%;
    }
    &__title{
        font-size: 0.9em;
        margin: 10px 0 4px;
    }
    &__name{
        font-size: 1.5em;
        font-weight: 300;
        color: white;
    }
    &__dates{
        background-color: variable.$DarkBlue;
        border-radius: 16px;
        display: flex;
        justify-content: space-around;
        height: 100px;
        font-size: 1.2em;
        position: absolute;
        width: 100%;
        top: 105px;
        padding-top: 52px;
    }
    &__frecuency{
        &:hover{
            cursor: pointer;
        }
    }
}

.second-section{
    padding-top: 220px;
}

.card{
    border: 2px solid white;
    &__backgroudn{
        background-color: variable.$LightOrange;
        height: 80px;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
    }
    &__image{
        margin-top: -10px;
        padding-left: 235px;
    }
    &__details{
        background-color: variable.$DarkBlue;
        display: flex;
    }
}